<p style="color: green"><%= notice %></p>

<h1 class="mb-4">Twitter</h1>
<%= link_to "Nuevo Tweet", new_tweet_path, class: "btn btn-info mb-2" %>

<%= form_with(url: tweets_path, method: :get, class: "mb-4 d-flex") do |form| %>

    <%= form.text_field :search, placeholder: "Buscar tweets", class: "form-control mr-1" %>
    <%= form.submit "Buscar", class: "btn btn-primary mr-1" %>
    <%= link_to "Limpiar", tweets_path, class: "btn btn-secondary", data: { turbolinks: false } %>

<% end %>

<div id="tweets">
  <% @tweets.each do |tweet| %>
     <%= render partial: 'tweet', locals: { tweet: tweet, id: tweet.id } %>
  <% end %>
</div>


<nav>
  <ul class="pagination">
    <%= paginate @tweets %>
  </ul>
</nav>


